@charset "UTF-8";

// flex 布局
@mixin flex($direction:column) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: wrap;
  box-sizing: border-box;
}

// 水平居中
@mixin horizontalCenter($direction:column) {
  @include flex($direction);
  align-items: center;
}

// 垂直居中
@mixin verticalCenter($direction:column) {
  @include flex($direction);
  justify-content: center;
}

// 垂直水平居中
@mixin verticalHorizontalCenter($direction:column) {
  @include verticalCenter($direction);
  @include horizontalCenter($direction);
}
